<div class="container">
  <h3>Please login or create account</h3>
<form action='/' method="post">
<input type="text" name="name" placeholder="Username">
<input type="password" name="password" placeholder="Password"> 
<input type="submit" value = "Login">
</form>

</div>
